
<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3">
      <%= render 'userinfo', user: @user %>
      <%= render 'newbook', books: @book %>
    </div>

    <div class = "col-md-8 offset-md-1">
      <%= render "book_info", books: @books, user: @user%>
    </div>
  </div>
</div>